<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.tingshu.album.mapper.AlbumInfoMapper">
    <select id="selectUserAlbumPage" resultType="com.atguigu.tingshu.vo.album.AlbumListVo">
        select info.id albumId,
        info.album_title albumTitle,
        info.cover_url coverUrl,
        info.include_track_count includeTrackCount,
        info.is_finished isFinished,
        info.status,
        sum(if(stat.stat_type = '0401', stat.stat_num, 0)) as playStatNum,
        sum(if(stat.stat_type = '0402', stat.stat_num, 0)) as subscribeStatNum,
        sum(if(stat.stat_type = '0403', stat.stat_num, 0)) as buyStatNum,
        sum(if(stat.stat_type = '0404', stat.stat_num, 0)) as commentStatNum
        from tingshu_album.album_info info
        join tingshu_album.album_stat stat
        on info.id = stat.album_id
        <where>
            <if test="vo.userId != null">
                info.user_id = #{vo.userId}
            </if>
            <if test="vo.status != null and vo.status != ''">
                and info.status = #{vo.status}
            </if>
            <if test="vo.albumTitle != null and vo.albumTitle != ''">
                and info.album_title like concat('%', #{albumTitle}, '%')
            </if>
            and info.is_deleted = 0
        </where>
        group by info.id
        order by info.id desc
    </select>

    <select id="selectAlbumStatVo" resultType="com.atguigu.tingshu.vo.album.AlbumStatVo">
        select
            stat.album_id,
            max(if(stat.stat_type = '0401',stat.stat_num,0)) playStatNum,
            max(if(stat.stat_type = '0402',stat.stat_num,0)) subscribeStatNum,
            max(if(stat.stat_type = '0403',stat.stat_num,0)) buyStatNum,
            max(if(stat.stat_type = '0404',stat.stat_num,0)) commentStatNum
        from tingshu_album.album_stat stat where album_id = #{albumId}
    </select>

    <!--根据专辑 Id 获取到声音列表-->
    <select id="selectAlbumTrackPage" resultType="com.atguigu.tingshu.vo.album.AlbumTrackListVo">
        select info.trackId,
               info.trackTitle,
               info.mediaDuration,
               info.orderNum,
               info.createTime,
               MAX(IF(info.statType = '0701', info.statNum, 0)) as playStatNum,
               MAX(IF(info.statType = '0704', info.statNum, 0)) as commentStatNum
        from (select track.id             as trackId,
                     track.track_title    as trackTitle,
                     track.media_duration as mediaDuration,
                     track.order_num      as orderNum,
                     track.create_time    as createTime,
                     stat.stat_type       as statType,
                     stat.stat_num        as statNum
              from tingshu_album.track_info track
                       left join tingshu_album.track_stat stat on stat.track_id = track.id
              where track.album_id = #{albumId}
                and track.is_open = '1'
                and track.status = '0501') info
        group by info.trackId, orderNum
        order by info.orderNum asc
    </select>
</mapper>

