<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.tingshu.album.mapper.AlbumInfoMapper">
    <select id="selectUserAlbumPage" resultType="com.atguigu.tingshu.vo.album.AlbumListVo">
        select info.id albumId,
        info.album_title albumTitle,
        info.cover_url coverUrl,
        info.include_track_count includeTrackCount,
        info.is_finished isFinished,
        info.status,
        sum(if(stat.stat_type = '0401', stat.stat_num, 0)) as playStatNum,
        sum(if(stat.stat_type = '0402', stat.stat_num, 0)) as subscribeStatNum,
        sum(if(stat.stat_type = '0403', stat.stat_num, 0)) as buyStatNum,
        sum(if(stat.stat_type = '0404', stat.stat_num, 0)) as commentStatNum
        from tingshu_album.album_info info
        join tingshu_album.album_stat stat
        on info.id = stat.album_id
        <where>
            <if test="vo.userId != null">
                info.user_id = #{vo.userId}
            </if>
            <if test="vo.status != null and vo.status != ''">
                and info.status = #{vo.status}
            </if>
            <if test="vo.albumTitle != null and vo.albumTitle != ''">
                and info.album_title like concat('%', #{albumTitle}, '%')
            </if>
            and info.is_deleted = 0
        </where>
        group by info.id
        order by info.id desc
    </select>

</mapper>

